### CUSTOM
.vagrant
.env
stackjudge/backend/*
!stackjudge/backend/.gitkeep
stackjudge/frontend/*
!stackjudge/frontend/.gitkeep
stackjudge/aws/*
!stackjudge/aws/.gitkeep
stackjudge/aws_sdk/*
!stackjudge/aws_sdk/.gitkeep
stackjudge/aws_sdk_java/*
!stackjudge/aws_sdk_java/.gitkeep
!stackjudge/aws_sdk_java/code

### DEFAULT
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
